---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // 스킨
@import "minimal-mistakes"; // 메인 스타일시트

// 여기서부터 커스터마이징 CSS를 추가할 수 있습니다
.page__title {
  font-family: 'Nanum Gothic', sans-serif;
}

.page__content {
  font-size: 0.9em;
  line-height: 1.8;
}

// 사이드바 크기 조정
.sidebar {
  @media (min-width: 1024px) {
    width: 250px;
  }
}

// 헤더 소개 텍스트 스타일링
.page__hero--overlay .page__title,
.page__hero--overlay .page__lead {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

// 네비게이션 바 스타일링
.masthead {
  background-color: #f2f3f3;
}

// 포스트 스타일링
.archive__item-title a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}